RewriteEngine on

RewriteRule ^anasayfa(\.html)$ index.php [L,NC]
RewriteRule ^index(\.html)$ index.php [L,NC]
RewriteRule ^iletisim(\.html)$ iletisim.php [L,NC]
RewriteRule ^arama(\.html)$ arama.php [L,NC]
RewriteRule ^kategori-detay-([a-zA-Z0-9\-_]+)?(\.html)$ kategoridetay.php?id=$1 [L,QSA]
RewriteRule ^haberler(\.html)$ haberler.php [L,NC]
RewriteRule ^hizmetler(\.html)$ hizmetler.php [L,NC]
RewriteRule ^hizmet-detay-([a-zA-Z0-9\-_]+)?(\.html)$ hizmetdetay.php?id=$1 [L,QSA]
RewriteRule ^haber-detay-([a-zA-Z0-9\-_]+)?(\.html)$ haberdetay.php?id=$1 [L,QSA]
RewriteRule ^sayfa-yarisma-temasi-sunumu-bilgi-formu(\.html)$ yarisma-temasi-sunumu-bilgi-formu.php [L,NC]
RewriteRule ^temasunumu$ yarisma-temasi-sunumu-bilgi-formu.php [L,NC]
RewriteRule ^sayfa-detay-([a-zA-Z0-9\-_]+)?(\.html)$ sayfadetay.php?id=$1 [L,QSA]
RewriteRule ^sayfa-([a-zA-Z0-9\-_]+)?(\.html)$ sayfa.php?sayfaadi=$1 [L,QSA]
RewriteRule ^foto-galeri(\.html)$ fotogaleri.php [L,NC]
RewriteRule ^projelerimiz(\.html)$ projelerimiz.php [L,NC]
RewriteRule ^proje-detay-([a-zA-Z0-9\-_]+)?(\.html)$ projedetay.php?id=$1 [L,QSA]
RewriteRule ^oda-detay-([a-zA-Z0-9\-_]+)?(\.html)$ odadetay.php?id=$1 [L,QSA]
RewriteRule ^rez-detay-([a-zA-Z0-9\-_]+)?(\.html)$ rezdetay.php?id=$1 [L,QSA]
RewriteRule ^odalar(\.html)$ odalar.php [L,NC]
RewriteRule ^rezervasyon(\.html)$ odalar.php [L,NC]
RewriteRule ^z-defteri(\.html)$ zdefteri.php [L,NC]
RewriteRule ^restorant(\.html)$ restorant.php [L,NC]
RewriteRule ^mesaj(\.html)$ mesaj.php [L,NC]
RewriteRule ^portfolyo(\.html)$ portfolyo.php [L,NC]
RewriteRule ^calisma-ekibimiz(\.html)$ ekibimiz.php [L,NC]
RewriteRule ^basvuru(\.html)$ basvuru.php [L,NC]
RewriteRule ^basvuru_dosyasi(\.html)$ basvuru_dosyasi.php [L,NC]
RewriteRule ^basvuru_kod_sorgulama(\.html)$ basvuru_kod_sorgulama.php [L,NC]
RewriteRule ^bilgi_formlari(\.html)$ bilgi_formlari.php [L,NC]
RewriteRule ^yarisma-paftalar(\.html)$ yarisma-paftalar.php [L,NC]
RewriteRule ^yarisma-paftalar-protect(\.html)$ yarisma-paftalar-protect.php [L,NC]
RewriteRule ^juri-degerlendirmeleri(\.html)$ juri-degerlendirmeleri.php [L,NC]
RewriteRule ^juri-degerlendirmeleri-protect(\.html)$ juri-degerlendirmeleri-protect.php [L,NC]
